# --------------------
# Python
# --------------------
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
*.sqlite3
*.db

# --------------------
# Node / React
# --------------------
node_modules/
build/
dist/
.cache/

# --------------------
# Environment files
# --------------------
.env
.env.*
.env.development
.env.production

# --------------------
# OS / System
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Editors / Tools
# --------------------
.vscode/
*.log
